<%- include('block_inicio')%>
 <!--titulo-->
 <div class="row">
    <div class="col-12 bt">
        <div class="page-title-box d-flex justify-content-center">
            <h3 class="page-title">Administrador Relevamientos</h3>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-end mt-2">

    

    <div style="background-color: grey; width:80%; height:150px;display:flex; 
        justify-content:end; align-items:center" >
    
        <div class="">
            <input type="text">
        </div>

        <div class="d-flex flex-column justify-content-center bt" style="width: 20%;">
        <div>
            <label style="color: white;" for="example-date" class="form-label">Date</label>
            <input class="form-control" id="date-start" type="date" name="date1">
        </div>

        <div>
            <label style="color: white;" for="example-date" class="form-label">Date</label>
            <input class="form-control" id="date-end" type="date" name="date2">
        </div>
        </div>

        <div class="">
            <button id="btn">Buscar</button>
        </div>

    
   


    </div>

    <div>
      <!--tabla-->
    <div class="mt-5 mb-5">
        <table id="basic-datatable" class="table table-striped nowrap">
            <thead>
                <tr>
                    <th>ID COM</th>
                    <th>FECHA</th>
                    <th>COMERCIO</th>
                    <th>DIRECCIÓN</th>
                    <th>TELEFONO</th>
                    <th>ZONA</th>
                    <th>LOCALIDAD</th>
                    <th>PROVINCIA</th>
                    <th>FOTOS</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    </div>

</div>
<%- include('block_end')%>


<style>
    .bt{
        border: 1p solid blue;
    }
</style>

<script>
    $(document).ready(function () {
        
    let date1 = document.getElementById('date-start')
    let date2 = document.getElementById('date-end')

    date1.onchange = () => {
        alert(date1.value)
    }//end

    date2.onchange = () => {
        alert(date2.value)
    }//end
        
        
        
        
        
        
        
        
        let id;



        $('#basic-datatable').DataTable({
            ajax: "/api-admin-clientes",
            language: { url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json" },
            //order: [[1, "asc"]],
            bDestroy: true,
            scrollX: true,
            autoWidth: false,
            columnDefs: [
                { "className": "dt-center", "targets": "_all" }
            ],
            columns: [
                { "data": "Codigo_Cliente" },
                { "data": "Date"},
                { "data": "Nombre" },
                { "data": "Direccion" },
                { "data": "Telefono" },
                { "data": "Zona" },
                { "data": "Localidad" },
                { "data": "Provincia" },
                {
                    "defaultContent": "Pictures",
                    "render":function(data,type,row){
                        console.log(row.Status)
                        if (row.Status) {
                            
                            return "<div class='d-flex justify-content-center'> <button class = 'btn btn-primary ver'>Ver</button> </div>"
                        }else{
                            return "sin fotos"
                        }
                    }
                }
                
            ],

            


        });
    });



//Selecciona elementos en tabla Ver
$('#basic-datatable tbody').on( 'click', '.ver', function () {
    //$('#content_modal').html('')
      id = $(this).parents("tr").find("td").eq(0).text()
      //window.location.href = '/test/'+id
      window.location.href = '/test'+id
      //materia = $(this).parents("tr").find("td").eq(5).text()

    //alert(id)
})  



    let btn = document.getElementById('btn')

    btn.onclick = () => {
        
        fetch('', {
            method: "POST",
            body: JSON.stringify({id:1}),
            headers: {"Content-type": "application/json; charset=UTF-8"}
          })
          .then(resp => resp.json()) 
          .then(json => console.log(json))
          .catch(err => console.log(err))


    }


</script>