<%- include('block_inicio')%>

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Clientes</h4>
            </div>
        </div>
    </div>

    <!--tabla-->
    <div class="mt-5">
        <table id="basic-datatable" class="table table-striped nowrap">
            <thead>
                <tr>
                    <th>ID COM</th>
                    <th>NOMBRE</th>
                    <th>DIRECCIÓN</th>
                    <th>TELEFONO</th>
                    <th>ZONA</th>
                    <th>LOCALIDAD</th>
                    <th>PROVINCIA</th>
                    <th>PAIS</th>
                    <th>VENDEDOR</th>
                    <th>MERCHANDISING</th>
                    <th>RUBRO</th>
                    <th>SUBRUBRO</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <%- include('block_end')%>

        <style>
            .bt {
                border: 1px solid blue;
            }
        </style>
        
        <script>
            $(document).ready(function () {
                $('#basic-datatable').DataTable({
                    ajax: "/api-clientes",
                    language: { url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json" },
                    //order: [[1, "asc"]],
                    bDestroy: true,
                    scrollX: true,
                    columnDefs: [
                        { "className": "dt-center", "targets": "_all" }
                    ],
                    columns: [
                        { "data": "Codigo_Cliente" },
                        { "data": "Nombre" },
                        { "data": "Direccion" },
                        { "data": "Telefono" },
                        { "data": "Zona" },
                        { "data": "Localidad" },
                        { "data": "Provincia" },
                        { "data": "Pais" },
                        { "data": "Vendedor" },
                        { "data": "Merchandising" },
                        { "data": "Rubro" },
                        { "data": "Subrubro" },
                    ],
                });
            });
        </script>