<%- include('block_inicio') %>
<%- include('barra_menu') %>
<br/>
<div class="d-flex justify-content-center">
    <h1>Clientes</h1>
</div>






<%- include('block_end') %>
<style>
    .bt{
        border: 1px solid blue;
    }
</style>
<script>

</script>