<%- include('block_inicio') %>
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li id="link-previo" class="breadcrumb-item"><a href=""></a></li>
                        <li id="link-actual" class="breadcrumb-item active">Relevamientos de Clientes</li>
                    </ol>
                </div>
                <h4 class="page-title">Relevamientos de Clientes</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row d-flex justify-content-end">

        <div style="background-color: rgb(157, 152, 184); width:60%; 
            height:100px;display:flex; 
            justify-content:end; align-items:center; 
            border-top-left-radius:15px; border-bottom-left-radius:15px; margin-right:1%">

            <!-- Button Group -->
            <div class="btn-group mt-1" style="margin-right: 4%;">
                <button id="todos" type="button" class="btn btn-primary">Todos</button>
                <button id="relevados" type="button" class="btn btn-primary">Relevados</button>
                <button id="sin-relevar" type="button" class="btn btn-primary">Sin Relevar</button>
            </div>


            <div class="mb-3">
                <label style="color:white" class="form-label">Mes</label>
                <input class="form-control" id="date" type="month" name="month">
            </div>

            <div style="margin-left: 4%;">
                <button class="btn btn-primary" style="height:100%" id="btn">Buscar</button>
            </div>

        </div>


        <!--tabla-->
        <div class="mt-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <table id="basic-datatable" class="table table-striped nowrap">
                        <thead>
                            <tr>
                                <th>FOTOS</th>
                                <th>ID CLIENTE</th>
                                <th>FECHA</th>
                                <th>CLIENTE</th>
                                <th>DIRECCION</th>
                                <th>LOCALIDAD</th>                               
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <input id="id-user" type="text" hidden value=<%=id%>>
    <input id="type-user" type="text" hidden value=<%=tipo%>>

    <%- include('block_end') %>
        <style>
            .bt {
                border: 1px solid blue;
            }

            .ver:hover {
                cursor: pointer;
            }
        </style>
        <script>
            $(document).ready(function () {
                let user = document.getElementById('id-user')
                let type_User = document.getElementById('type-user')
                let date = document.getElementById('date')
                let btn = document.getElementById('btn')
                let btnTodos = document.getElementById('todos')
                let btnRelevados = document.getElementById('relevados')
                let btnSinRelevar = document.getElementById('sin-relevar')

                //armo la fecha de hoy
                let currentTime = new Date();
                let year = currentTime.getFullYear()
                let mounth = currentTime.getMonth() + 1
                let day = currentTime.getDate()
                let mes;
                let type;
                let idUser;

                //se carga el mes actual
                date.value = String(`${year + "-" + "0" + mounth}`)
                //se carga el boton por defto
                borrarClassButton()
                btnTodos.classList.add('active')

                window.onload = () => {
                    mes = `${year + "-" + mounth + "-" + day}`
                    type = 'todos'
                    idUser = user.value
                    typeUser = type_User.value
                    loadTable('/api-clientes-relevamietos', 'POST', { 'type': type, 'mes': mes, 'idUser': idUser, 'typeUser': typeUser })
                }

                //extrae mes cuando se carga el input
                date.onchange = () => {
                    mes = String(date.value + '-01')
                    if (mes === '-01') { alert('DEBE SELECCIONAR UN MES...'); return }
                }//end


                //btn Todos
                btnTodos.onclick = () => {
                    borrarClassButton()
                    type = 'todos'
                    idUser = user.value
                    typeUser = type_User.value
                    btnTodos.classList.add('active')
                }//end
                //btn mercha
                btnRelevados.onclick = () => {
                    borrarClassButton()
                    type = 'relevados'
                    idUser = user.value
                    typeUser = type_User.value
                    btnRelevados.classList.add('active')
                }//end
                //btn seller
                btnSinRelevar.onclick = () => {
                    borrarClassButton()
                    type = 'sin-relevar'
                    idUser = user.value
                    typeUser = type_User.value
                    btnSinRelevar.classList.add('active')
                }//end


                //funcion crea tabla
                function loadTable(url, verb, data) {
                    $('#basic-datatable').removeAttr('width').DataTable({
                        ajax: {
                            'url': url,
                            'data': data,
                            'type': verb
                        },
                        //data:{json},
                        language: { url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json" },
                        bDestroy: true,
                        scrollX: true,
                        autoWidth: false,
                        order: [[2, "desc"]],
                        columnDefs: [

                            { "className": "dt-center", "targets": "_all" },

                        ],

                        columns: [
                            {
                                "defaultContent": "Total_Pictures",
                                "render": function (data, type, row) {
                                    if (row.Total_Pictures) {
                                        return `<div class='d-flex align-items-center justify-content-center' > <h5 style='margin-right:15%'>${row.Total_Pictures}</h5> <i class="fa fa-camera fa-lg ver" aria-hidden="true"></i> </div>`
                                    } else {
                                        return `<div class='d-flex align-items-center justify-content-center' > <h5 style='margin-right:15%'>0</h5> </div>`
                                    }
                                }
                            },
                            { "data": "id" },
                            {
                                "data": "Date_ultimo",
                                "render": function (data, type, row) {
                                    if (row.Date_ultimo) {
                                        return row.Date_ultimo
                                    } else {
                                        return 'no relevado'
                                    }
                                }
                            },
                            { "data": "name" },
                            { "data": "direccion" },
                            { "data": "localidad" }
                        ],
                    });//end table
                }//end loadtable


                btn.onclick = () => {
                    if (type == '' || mes == '' || mes == '-01') { alert('ATENCION: DEBE COMPLETAR LOS CAMPOS'); return }
                    loadTable('/api-clientes-relevamietos', 'POST', { 'type': type, 'mes': mes, 'idUser': idUser, 'typeUser': typeUser })
                }


                //Selecciona elementos en tabla Ver
                let cliente;
                $('#basic-datatable tbody').on('click', '.ver', function () {
                    cliente = $(this).parents("tr").find("td").eq(1).text()
                    let fecha = $(this).parents("tr").find("td").eq(2).text()
                    window.location.href = '/detalle-relevamiento' + cliente + '&' + fecha
                })



                function borrarClassButton() {
                    btnTodos.classList.remove('active')
                    btnRelevados.classList.remove('active')
                    btnSinRelevar.classList.remove('active')
                }
            })//end ready
        </script>