<%- include('block_inicio')%>
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li id="link-previo" class="breadcrumb-item"><a href=""></a></li>
                        <li id="link-actual" class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!--contenido-->
    <div class=" row bt">
        <div class="card" style="width: 20%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Campaign Sent</h5>
                        <h3 class="my-2 py-1">9,184</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <div id="campaign-sent-chart" data-colors="#536de6"></div>
                        </div>
                    </div>
                </div> <!-- end row-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>

    <%- include('block_end')%>

        <style>
            .bt {
                border: 1px solid blue;
            }
        </style>

        <script>
            window.onload = () => {
                let title = document.getElementsByName('page-title')
                localStorage.setItem('page', title)
            }//end
        </script>