<%- include('block_inicio') %>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Panel Gestion</h4>
        </div>
    </div>
</div>



<%- include('block_end') %>
<style>
    .bt{
        border: 1px solid blue;
    }
</style>
<script>

</script>