<%- include('block_inicio') %>
<%- include('barra_menu') %>
<br/>
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>El archivo se proceso Correctamente</h1>
    <br><br>
    <form action="/home">
        <button class="btn btn-primary">Home</button>
    </form>
</div>






<%- include('block_end') %>
<style>
    .bt{
        border: 1px solid blue;
    }
</style>
<script>

</script>