<%- include('block_inicio')%>
                        
    <!--titulo-->
    <div class="row">
        <div class="col-12 bt">
            <div class="page-title-box d-flex justify-content-center">
                <h3 class="page-title">Relevamientos</h3>
            </div>
        </div>                     
    </div>

    <!--contenido-->
    <div class=" row bt">
        jjj
    </div>
                        
<%- include('block_end')%>
                                                
<style>
    .bt{
        border: 1px solid blue;
    }
</style>            