<%- include('block_inicio')%>

            <div class="content-page">
                <div class="content">


                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Cargar Clientes</h4>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-between">

                        <!--Upload-->
                        <form action="/upload/clientes" enctype="multipart/form-data" method="POST">
                            <div class="dz-message needsclick">
                                <i class="h1 text-muted dripicons-cloud-upload"></i>
                                <h3>Seleccione archivo excel a subir</h3>

                            </div>

                            <div class="fallback">
                                <input name="file" type="file" id="file" />
                            </div>

                            <button type="submit" id="btn" class="btn btn-info mt-3"><i class="mdi mdi-cloud me-1"></i>
                                <span>Subir</span> </button>
                        </form>

                        <!--download-->
                        <% if(flag){%>
                            <div class="">
                                <div class="dz-message needsclick">
                                    <i class="h1 text-muted dripicons-cloud-download"></i>
                                    <h3>Descargue el archivo excel subido</h3>

                                </div>

                                <form action="/download/clientes" method="GET">
                                    <button type="submit" class="btn btn-info"><i class="mdi mdi-cloud me-1"></i>
                                        <span>Descargar</span> </button>
                                </form>
                            </div>
                            <%}%>
                    </div>



                    <!--Card 1-->
                    <div class="col-md-6 col-xxl-3 mt-5">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">

                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Archivo excel
                                        clientes</a>
                                </h4>
                                <% if(flag){%>
                                    <div class="badge bg-success">Cargado</div>
                                    <%}else{%>
                                        <span class="badge bg-secondary">No Cargado</span>
                                        <%}%>



                                            <p class="text-muted font-13 my-3">Aqui se visualiza si el archivo excel
                                                clientes esta cargado en el sistema...
                                            </p>


                            </div> <!-- end card-body-->

                        </div> <!-- end card-->
                    </div>

                    <!--Card 2-->
                    <div class="col-md-6 col-xxl-3 mt-5">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">

                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Validar archivo excel
                                        Clientes</a>
                                </h4>
                                <% if(validated){%>
                                    <div class="badge bg-success">Validado</div>
                                    <%}else{%>
                                        <span class="badge bg-secondary">No Validado</span>
                                        <%}%>



                                            <p class="text-muted font-13 my-3">Aqui se valida el formato del archivo
                                                excel clientes, antes de ingresar al sistema...
                                            </p>

                                            <% if(flag && !validated){ %>
                                                <form action="/validar-clientes" method="GET">
                                                    <button type="submit" class="btn btn-info"><i
                                                            class=" dripicons-checkmark me-1"></i> <span>Validar</span>
                                                    </button>
                                                </form>
                                                <%}%>
                            </div> <!-- end card-body-->

                        </div> <!-- end card-->
                    </div>

                    <!--Card 3-->
                    <div class="col-md-6 col-xxl-3 mt-5">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">

                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Procesar archivo excel
                                        Clientes</a>
                                </h4>
                                <% if(processed){%>
                                    <div class="badge bg-success">Procesado</div>
                                    <%}else{%>
                                        <span class="badge bg-secondary">No Procesado</span>
                                        <%}%>



                                            <p class="text-muted font-13 my-3">Aqui se procesa el archivo excel
                                                clientes cargado en el sistema...
                                            </p>

                                            <% if(flag && validated && !processed){ %>
                                                <form action="/procesar-clientes" method="GET">
                                                    <button type="submit" class="btn btn-info"><i
                                                            class="dripicons-clockwise me-1"></i> <span>Procesar</span>
                                                    </button>
                                                </form>
                                                <%}%>
                            </div> <!-- end card-body-->

                        </div> <!-- end card-->
                    </div>

                </div><!-- End Content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div> <!-- content-page -->


<%- include('block_end')%>
<script>
    let input_ = document.getElementById('file')
    let btnSubir = document.getElementById('btn')

    //deshabilito btn subir
    btnSubir.setAttribute('disabled', true)
    input_.onchange = () => {
        btnSubir.removeAttribute('disabled')
    }
</script>